EQUAL WEIGHT STRATERGY

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import math

In [2]:
tickers=pd.read_csv(r"C:\Users\KIIT\Desktop\Code\top_50_indian_stocks.csv")
tickers.head()

         Ticker               Company Name
0   RELIANCE.NS        Reliance Industries
1        TCS.NS  Tata Consultancy Services
2   HDFCBANK.NS                  HDFC Bank
3       INFY.NS                    Infosys
4  ICICIBANK.NS                 ICICI Bank

In [3]:
def fetch_market_cap(ticker_list):
    data = yf.download(ticker_list, period = '1d', group_by='ticker', auto_adjust=False)
    
    stocks_data = []
    for ticker in ticker_list:
        latest_price = data[ticker]['Close'].iloc[-1]
        market_cap = yf.Ticker(ticker).info.get("marketCap", 'N/A') #if not found then print N/A
        stocks_data.append({    #key value pair so that we can convert it into dataframe later easily
            "Ticker" : ticker,
            "Market Cap" : market_cap,
            "Latest Price" : latest_price,
        })
        
    stocks_df = pd.DataFrame(stocks_data)
        
    return stocks_df
        
    

tickers_list = tickers["Ticker"].values.tolist()
df = fetch_market_cap(tickers_list)
df

[*********************100%***********************]  50 of 50 completed

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  18860243681280   1393.699951
1          TCS.NS  10865124311040   3003.000000
2     HDFCBANK.NS  15439831760896   2012.199951
3         INFY.NS   6091741593600   1469.599976
4    ICICIBANK.NS  10504825208832   1471.599976
5   HINDUNILVR.NS   6001705615360   2553.699951
6         SBIN.NS   7329112129536    794.000000
7   BAJFINANCE.NS   5439568216064    875.599976
8   BHARTIARTL.NS  11293039788032   1884.400024
9          ITC.NS   5215453446144    416.450012
10   KOTAKBANK.NS   3961528778752   1992.400024
11    ADANIENT.NS   2713643909120   2350.899902
12          LT.NS   4933829001216   3587.300049
13     HCLTECH.NS   3934188994560   1452.099976
14  ASIANPAINT.NS   2330266697728   2431.000000
15    AXISBANK.NS   3295469371392   1062.400024
16   SUNPHARMA.NS   3910188138496   1629.699951
17       WIPRO.NS   2541859635200    242.750000
18  ULTRACEMCO.NS   3563075141632  12113.000000
19    HDFCLIFE.NS   1598801051648    741.700012
20        ONGC.NS   2978889072640    236.789993
21        NTPC.NS   3208627879936    330.899994
22   POWERGRID.NS   2708799750144    291.250000
23  TATAMOTORS.NS   2388877377536    648.849976
24  INDUSINDBK.NS    610546221056    783.700012
25  ADANIGREEN.NS   1602047311872    972.599976
26       TITAN.NS   2941441277952   3316.000000
27    DIVISLAB.NS   1688780931072   6361.500000
28       TECHM.NS   1273655984128   1438.800049
29      MARUTI.NS   3867785822208  12302.000000
30   COALINDIA.NS   2295617028096    372.500000
31        BPCL.NS   1378995404800    317.850006
32    JSWSTEEL.NS   2507441700864   1027.800049
33     DRREDDY.NS   1016431443968   1220.599976
34  BAJAJFINSV.NS   3059200557056   1916.300049
35  ADANIPORTS.NS   2910140235776   1347.099976
36       CIPLA.NS   1213888200704   1502.800049
37   BRITANNIA.NS   1397474590720   5798.000000
38     HAVELLS.NS    929564917760   1482.599976
39    SHREECEM.NS   1107076055040  30675.000000
40      GRASIM.NS   1847157063680   2722.199951
41   TATASTEEL.NS   1908310016000    153.009995
42  HEROMOTOCO.NS    862389010432   4311.600098
43         M&M.NS   3790243627008   3159.300049
44   EICHERMOT.NS   1516064997376   5528.000000
45         IOC.NS   1991512817664    141.029999
46     SBICARD.NS    765691691008    803.950012
47  PIDILITIND.NS   1454233747456   2858.899902
48       DMART.NS   2730475651072   4196.000000
49     HDFCAMC.NS   1201267539968   5615.000000

In [4]:
#SORT DATA ACC TO THEIR MARKET CAP

df=df.sort_values(by='Market Cap', ascending=False)
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  18860243681280   1393.699951
2     HDFCBANK.NS  15439831760896   2012.199951
8   BHARTIARTL.NS  11293039788032   1884.400024
1          TCS.NS  10865124311040   3003.000000
4    ICICIBANK.NS  10504825208832   1471.599976
6         SBIN.NS   7329112129536    794.000000
3         INFY.NS   6091741593600   1469.599976
5   HINDUNILVR.NS   6001705615360   2553.699951
7   BAJFINANCE.NS   5439568216064    875.599976
9          ITC.NS   5215453446144    416.450012
12          LT.NS   4933829001216   3587.300049
10   KOTAKBANK.NS   3961528778752   1992.400024
13     HCLTECH.NS   3934188994560   1452.099976
16   SUNPHARMA.NS   3910188138496   1629.699951
29      MARUTI.NS   3867785822208  12302.000000
43         M&M.NS   3790243627008   3159.300049
18  ULTRACEMCO.NS   3563075141632  12113.000000
15    AXISBANK.NS   3295469371392   1062.400024
21        NTPC.NS   3208627879936    330.899994
34  BAJAJFINSV.NS   3059200557056   1916.300049
20        ONGC.NS   2978889072640    236.789993
26       TITAN.NS   2941441277952   3316.000000
35  ADANIPORTS.NS   2910140235776   1347.099976
48       DMART.NS   2730475651072   4196.000000
11    ADANIENT.NS   2713643909120   2350.899902
22   POWERGRID.NS   2708799750144    291.250000
17       WIPRO.NS   2541859635200    242.750000
32    JSWSTEEL.NS   2507441700864   1027.800049
23  TATAMOTORS.NS   2388877377536    648.849976
14  ASIANPAINT.NS   2330266697728   2431.000000
30   COALINDIA.NS   2295617028096    372.500000
45         IOC.NS   1991512817664    141.029999
41   TATASTEEL.NS   1908310016000    153.009995
40      GRASIM.NS   1847157063680   2722.199951
27    DIVISLAB.NS   1688780931072   6361.500000
25  ADANIGREEN.NS   1602047311872    972.599976
19    HDFCLIFE.NS   1598801051648    741.700012
44   EICHERMOT.NS   1516064997376   5528.000000
47  PIDILITIND.NS   1454233747456   2858.899902
37   BRITANNIA.NS   1397474590720   5798.000000
31        BPCL.NS   1378995404800    317.850006
28       TECHM.NS   1273655984128   1438.800049
36       CIPLA.NS   1213888200704   1502.800049
49     HDFCAMC.NS   1201267539968   5615.000000
39    SHREECEM.NS   1107076055040  30675.000000
33     DRREDDY.NS   1016431443968   1220.599976
38     HAVELLS.NS    929564917760   1482.599976
42  HEROMOTOCO.NS    862389010432   4311.600098
46     SBICARD.NS    765691691008    803.950012
24  INDUSINDBK.NS    610546221056    783.700012

#taking top 10 stocks as per market cap

In [5]:
df=df.head(10)
df.reset_index(inplace=True, drop=True)
df

          Ticker      Market Cap  Latest Price
0    RELIANCE.NS  18860243681280   1393.699951
1    HDFCBANK.NS  15439831760896   2012.199951
2  BHARTIARTL.NS  11293039788032   1884.400024
3         TCS.NS  10865124311040   3003.000000
4   ICICIBANK.NS  10504825208832   1471.599976
5        SBIN.NS   7329112129536    794.000000
6        INFY.NS   6091741593600   1469.599976
7  HINDUNILVR.NS   6001705615360   2553.699951
8  BAJFINANCE.NS   5439568216064    875.599976
9         ITC.NS   5215453446144    416.450012

In [6]:
portfolio_size=int(input("enter the amount you want to invest:"))
position_size=portfolio_size/len(df.index)
position_size

1000.0

In [7]:
df['Number of shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(
    position_size/price
))

df

C:\Users\KIIT\AppData\Local\Temp\ipykernel_22468\2983862924.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Number of shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(

          Ticker      Market Cap  Latest Price  Number of shares to buy
0    RELIANCE.NS  18860243681280   1393.699951                        0
1    HDFCBANK.NS  15439831760896   2012.199951                        0
2  BHARTIARTL.NS  11293039788032   1884.400024                        0
3         TCS.NS  10865124311040   3003.000000                        0
4   ICICIBANK.NS  10504825208832   1471.599976                        0
5        SBIN.NS   7329112129536    794.000000                        1
6        INFY.NS   6091741593600   1469.599976                        0
7  HINDUNILVR.NS   6001705615360   2553.699951                        0
8  BAJFINANCE.NS   5439568216064    875.599976                        1
9         ITC.NS   5215453446144    416.450012                        2